<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Podcast Rec</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/mains.css" />
		<meta charset="utf-8">
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
	</head>
	<body id="top">

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->

				<section id="banner" data-video="static/images/banner">
					<div class="inner">
						<header>
							<h1>Podcast REcc</h1>
							<p>A is a podcast reccomendor utilizing machine learning to reccomend episodes based off what you like<br />
							designed by <a href="https://templated.co/">Templated</a> and released under the Creative Commons License.</p>
						</header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>


			<!-- Main -->
				<div id="main">
					<div class="inner">
					<style>
					  textarea {
					  width: 100%;
					  height: 200px;
					  padding: 12px 20px;
					  box-sizing: border-box;
					  border: 2px solid #ccc;
					  border-radius: 4px;
					  background-color: #f8f8f8;
					  font-size: 16px;
					  resize: none;
					  }
					</style>
					<!--<div>
					<style>
						.SearchBox1 {
							text-align:justify;
					        display:inline-block;
					        margin-left: 10%




						}
						.SearchBox2 {
							text-align:justify;
					        display:inline-block;
					        margin-right: 10%



						}
						.Inp1 {

							position:absolute;
						}
						.Inp2 {

							position:absolute;

						}
						.But1 {
							position: relative;
							top: 50px;

						}
						.But2 {
							position: relative;
							top: 50px;
						}
					</style>
					<div class = "SearchBox1">
						<h1> For Specifc Profiles </h1>
						<form name=autocomp method="POST">
						  <input class = "Inp1" name="chat_in">Elon Musk</input>
						  <button class = "But1" type="submit" name="submit">Submit</button>
						</form>
					</div>
					<div class ="SearchBox2">
						<h1> For Tags or General Areas </h1>
						<form name=autocomp method="POST">
						  <input class = "Inp2" name="chat_in">Technology Elon Space</input>
						  <button class = "But2" type="submit" name="submit">Submit</button>
						</form>
					</div>
					</div>-->

					<!--<input id="autocomplete" type="text" name="autocomp" class="form-control">-->
					<div>
					</div>
					<div style="height:25px">
					</div>
					<div class="thumbnails">
						<div style = "height:125px;background-color:#202024;" class="box">
								<h3 style="text-align:center;"> For Specifc Profiles </h3>
								<form name=autocomp method="POST">
								  <input style = "color:black;border-radius: 35px" name="chat_in1"></input>
								  <button style = "color:#1DB954; background-color: #1DB954;border-radius: 35px;vertical-align:middle;" type="submit" name="submit">Submit</button>
								</form>
							</div>

							<div style = "height:125px;background-color:#202024;" class="box">
								<h3 style="text-align:center;"> For Areas of Interest</h3>
								<form name=autocomp method="POST">
								  <input style = "color:black;border-radius: 35px" name="chat2"></input>
								  <button style = "color:#1DB954; background-color: #1DB954;border-radius: 35px;vertical-align:middle;" type="submit" name="submit">Submit</button>
								</form>
							</div>
					</div>
					<div>
						<h3 style="text-align:center;font-size: 40px;font-weight: bold;"> Popular Podcasts </h3>
					</div>
					<div>
						<div class="thumbnails">

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/images/pic01.jpg" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/images/pic02.jpg" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/pic03.jpg" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/images/pic04.jpg" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/images/pic05.jpg" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/images/pic06.jpg" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

						</div>

					</div>
				</div>


			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Etiam veroeros lorem</h2>
						<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
					</div>
				</footer>

		<!-- Scripts -->

			<script src="{{ url_for('static', filename='auto.js')}}"</script>
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>


	</body>
</html>
