<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Rectify - Podcast Reccomendations</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/mains.css" />
		<meta charset="utf-8">
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
	</head>
	<body id="top">

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->

				<section id="banner" data-video="static/images/banner">
					<div class="inner">
						<header>
							<h1>Rectify</h1>
							<p>Rectify brings you the best interviews as well as AI driven reccomendations to personalize what you want to listen to.</p>
						</header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>


			<!-- Main -->
				<div id="main">
					<div class="inner">
					<style>
					  textarea {
					  width: 100%;
					  height: 200px;
					  padding: 12px 20px;
					  box-sizing: border-box;
					  border: 2px solid #ccc;
					  border-radius: 4px;
					  background-color: #f8f8f8;
					  font-size: 16px;
					  resize: none;
					  }
					</style>
					<!--<div>
					<style>
						.SearchBox1 {
							text-align:justify;
					        display:inline-block;
					        margin-left: 10%




						}
						.SearchBox2 {
							text-align:justify;
					        display:inline-block;
					        margin-right: 10%



						}
						.Inp1 {

							position:absolute;
						}
						.Inp2 {

							position:absolute;

						}
						.But1 {
							position: relative;
							top: 50px;

						}
						.But2 {
							position: relative;
							top: 50px;
						}
					</style>
					<div class = "SearchBox1">
						<h1> For Specifc Profiles </h1>
						<form name=autocomp method="POST">
						  <input class = "Inp1" name="chat_in">Elon Musk</input>
						  <button class = "But1" type="submit" name="submit">Submit</button>
						</form>
					</div>
					<div class ="SearchBox2">
						<h1> For Tags or General Areas </h1>
						<form name=autocomp method="POST">
						  <input class = "Inp2" name="chat_in">Technology Elon Space</input>
						  <button class = "But2" type="submit" name="submit">Submit</button>
						</form>
					</div>
					</div>-->

					<!--<input id="autocomplete" type="text" name="autocomp" class="form-control">-->
					<div>
					</div>
					<div style="height:25px">
					</div>
					<div class="thumbnails">
							<div style = "height:125px;background-color:#202024;" class="box">
							    <h3 style="text-align:center;"> Search for Guests </h3>
							    <form name=autocomp method="POST">
							      <input style = "color:black;border-radius: 35px" name="chat_in1"></input>
							      <button style = "color:#1DB954; background-color: #1DB954;border-radius: 35px;vertical-align:middle;" type="submit" name="submit" value = 'submit1'>Submit</button>
							    </form>
							  </div>

							<div style = "height:125px;background-color:#202024;" class="box">
							    <h3 style="text-align:center;"> Search for Topics </h3>
							    <form name=autocomp method="POST">
							      <input style = "color:black;border-radius: 35px" name="chat_in2" ></input>
							      <button style = "color:#1DB954; background-color: #1DB954;border-radius: 35px;vertical-align:middle;" type="submit" name="submit" value = 'submit2'>Submit</button>
							    </form>
							</div>
					</div>
					<div>
						<h3 style="text-align:center;font-size: 40px;font-weight: bold;"> Popular Podcasts </h3>
					</div>
					<div>
						<div class="thumbnails">

							<div class="box">
								<a href="http://podcasts.joerogan.net/podcasts/elon-musk" class="image fit"><img src="static/JRE.jpg" alt="" /></a>
								<div class="inner">
									<h3>Elon Musk</h3>
									<p>Elon Musk is a business magnet, investor and engineer</p>
									<a href="http://podcasts.joerogan.net/podcasts/elon-musk" class="button fit">Go To</a>
								</div>
							</div>

							<div class="box">
								<a href="https://tim.blog/2015/09/25/jocko-willink/" class="image fit"><img src="static/Tim.jpg" alt="" /></a>
								<div class="inner">
									<h3>The Scariest Navy SEAL Imaginable…And What He Taught Me</h3>
									<p>Jocko Willink (@jockowillink) is one of the scariest human beings imaginable.

He is a lean 230 pounds. He is a Brazilian jiu-jitsu expert who used to tap out 20 Navy SEALs per workout. He is a legend in the Special Operations world. His eyes look through you more than at you.

He rarely does interviews, if ever. But, a few weeks ago, Jocko ended up staying at my house and we had a caffeinated mind meld. Here’s some background…

Jocko enlisted in the Navy after high school and spent 20 years in the SEAL Teams, first as an enlisted SEAL operator and then as a SEAL officer. During his second tour in Iraq, he led SEAL Task Unit Bruiser in the Battle of Ramadi — some of the toughest and most sustained combat by the SEAL Teams since Vietnam.</p>
									<a href="https://tim.blog/2015/09/25/jocko-willink/" class="button style2 fit" >Go To</a>
								</div>
							</div>

							<div class="box">
								<a href="https://fs.blog/knowledge-project/josh-wolfe/" class="image fit"><img src="static/knowledge.jpg" alt="" /></a>
								<div class="inner">
									<h3>Josh Wolfe: Inventing the Future</h3>
									<p>Josh Wolfe, the co-founder of Lux Capital, discusses how to unearth the unexplored ideas that will reshape our future. We also discuss parenting, decision making, and which generation has the best rap.

</p>
									<a href="https://fs.blog/knowledge-project/josh-wolfe/" class="button style3 fit" data-poptrox="youtube,800x400">Go To</a>
								</div>
							</div>

							<div class="box">
								<a href="http://podcasts.joerogan.net/podcasts/podcast-138" class="image fit"><img src="static/JRE.jpg" alt="" /></a>
								<div class="inner">
									<h3>ANTHONY BOURDAIN</h3>
									<p>Anthony Bourdain is world renown chef, author, and traveler.</p>
									<a href="http://podcasts.joerogan.net/podcasts/podcast-138"  class="button style2 fit">Go To</a>
								</div>
							</div>

							<div class="box">
								<a href="https://www.richroll.com/podcast/david-goggins/" class="image fit"><img src="static/Rich.jpg" alt="" /></a>
								<div class="inner">
									<h3>DAVID GOGGINS IS THE TOUGHEST ATHLETE ON EARTH </h3>
									<p>Often referred to as the toughest athlete on the planet, David Goggins (@davidgoggins) is the only member of the US Armed Forces to complete SEAL training (including THREE Hell Weeks), the U.S. Army Ranger School (where he graduated as Enlisted Honor Man) and Air Force tactical air controller training.

But David is perhaps best known for his superhuman feats of strength and ultra-endurance</p>
									<a href="https://www.richroll.com/podcast/david-goggins/" class="button style3 fit">Go To</a>
								</div>
							</div>

							<div class="box">
								<a href="https://tim.blog/2015/02/02/arnold-schwarzenegger/" class="image fit"><img src="static/Tim.jpg" alt="" /></a>
								<div class="inner">
									<h3>Schwarzenegger on Psychological Warfare</h3>
									<p>In this episode, I interview the one and only Arnold Schwarzenegger… at his kitchen table.

In our conversation, we dig into lessons learned, routines, favorite books, and much more, including many stories I’ve never heard anywhere else.  I’m also giving away amazing goodies for this episode, so be sure to read this entire post.</p>
									<a href="https://tim.blog/2015/02/02/arnold-schwarzenegger/" class="button fit" >Go To</a>
								</div>
							</div>

							<div class="box">
								<a href="https://fs.blog/knowledge-project/atul-gawande/" class="image fit"><img src="static/knowledge.jpg" alt="" /></a>
								<div class="inner">
									<h3>My Interview with Atul Gawande</h3>
									<p>World-renowned surgeon, writer, and researcher Atul Gawande (@Atul_Gawande) shares powerful lessons about creating a culture of safe learning, the critical difference between a coach and a mentor, and how to ensure constant improvement in key areas of your personal and professional life.</p>
									<a href="https://fs.blog/knowledge-project/atul-gawande/" class="button fit" >Go To</a>
								</div>
							</div>

							<div class="box">
								<a href="http://podcasts.joerogan.net/podcasts/edward-snowden" class="image fit"><img src="static/JRE.jpg" alt="" /></a>
								<div class="inner">
									<h3>EDWARD SNOWDEN</h3>
									<p>Edward Snowden is an American whistleblower who copied and leaked highly classified information from the National Security Agency in 2013 when he was a Central Intelligence Agency employee and subcontractor.
</p>
									<a href="http://podcasts.joerogan.net/podcasts/edward-snowden" class="button fit" >Go To</a>
								</div>
							</div>

							<div class="box">
								<a href="https://www.richroll.com/podcast/apolo-ohno-539/" class="image fit"><img src="static/Rich.jpg" alt="" class="image fit"/></a>
								<div class="inner">
									<h3>APOLO OHNO ON THE WEIGHT OF GOLD</h3>
									<p>“Every thought that enters our mind has a direct impact on how we feel, what we say, and ultimately the decisions we make.”

APOLO OHNO
</p>
									<a href="https://www.richroll.com/podcast/apolo-ohno-539/" class="button fit" >Go To</a>
								</div>
							</div>

							<div class="box">
								<a href="http://podcasts.joerogan.net/podcasts/neil-degrasse-tyson-3"><img src="static/JRE.jpg" alt="" class="image fit"/></a>
								<div class="inner">
									<h3>NEIL DEGRASSE TYSON</h3>
									<p>Neil deGrasse Tyson is an astrophysicist, cosmologist, author, and science communicator.</p>
									<a href="http://podcasts.joerogan.net/podcasts/neil-degrasse-tyson-3" class="button fit" >Go To</a>
								</div>
							</div>

							<div class="box">
								<a href="https://tim.blog/2016/08/10/tony-robbins-on-achievement-versus-fulfillment/"><img src="static/Tim.jpg" alt="" class="image fit"/></a>
								<div class="inner">
									<h3>Tony Robbins – On Achievement Versus Fulfillment</h3>
									<p>Tony Robbins is the world’s most famous performance coach. He’s advised everyone from Bill Clinton to Mikhail Gorbachev to Serena Williams, and Leonardo DiCaprio to Oprah (who calls him “superhuman”).</p>
									<a href="https://tim.blog/2016/08/10/tony-robbins-on-achievement-versus-fulfillment/" class="button fit" >Go To</a>
								</div>
							</div>

							<div class="box">
								<a href="http://podcasts.joerogan.net/podcasts/naval-ravikant"><img src="static/JRE.jpg" alt="" class="image fit"/></a>
								<div class="inner">
									<h3>NAVAL RAVIKANT</h3>
									<p>Naval Ravikant is an entrepreneur and angel investor, a co-author of Venture Hacks, and a co-maintainer of AngelList.</p>
									<a href="http://podcasts.joerogan.net/podcasts/naval-ravikant" class="button fit">Go To</a>
								</div>
							</div>

									<div class="box">
								<a href="https://www.richroll.com/podcast/david-epstein-466/"><img src="static/Rich.jpg" alt="" class="image fit"/></a>
								<div class="inner">
									<h3>DAVID EPSTEIN ON WHY LATE BLOOMERS WIN</h3>
									<p>“You don’t change your identity overnight. You have to start with these little keyhole experiments until something that you think that was just an interest becomes a real passion or a vocation.”.</p>
									<a href="https://www.richroll.com/podcast/david-epstein-466/" class="button fit">Go To</a>
								</div>
							</div>



						</div>

					</div>
				</div>


			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Etiam veroeros lorem</h2>
						<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
					</div>
				</footer>

		<!-- Scripts -->

			<script src="{{ url_for('static', filename='auto.js')}}"</script>
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>


	</body>
</html>
